@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{margin: 0;padding: 0; font-family: poppins;}
nav{
  width: 100%;
  background-color: #160f1f;
  height: 70px;
  padding-top: 10px;
}
.nav-links{float: right;}
nav a{
  padding:10px;
  margin: 20px;
  line-height: 50px;
  cursor: pointer;
  border-radius: 50px;
  color: #fafafa;
}
nav a:hover{
  animation-name: hoverr;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  transition: 2s;
}

.logo{
  margin: 0; padding: 0;
  float: left;
  margin-top: -13px;
  margin-left: 5%;
  cursor: pointer;
  color: #ffffff;
}
@media screen and (max-width: 200px;){
  nav a{display: none;}
  
}
.fa-search{
    font-size: 25px;
}
.fa-user{
    font-size: 30px;
    border:2px solid #fafafa;
    padding: 15px;
    border-radius: 100px;
}
